<h1>Welcome to Hr mgt System</h1><hr><br/>
<ul>
	
	<li> <%= link_to "Employees Details", employees_path %> </li>
	<li> <%= link_to "Departments Details", departments_path %> </li>
	<li> <%= link_to "Qualifications Details", qualifications_path %> </li>
	<li> <%= link_to "Attendences Details", attendences_path %> </li>
</ul>
